---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro'
import { getLaunchById } from "../../services/spacex"
import { getLatestLaunches } from "../../services/spacex"

export const prerender = false

const { id } = Astro.params

console.log({ id })

let launch
if (id) {
  launch = await getLaunchById({ id })
}


console.log(launch)
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex flex-col items-center h-screen bg-gray-900 text-white">
    
    <div class="flex flex-col items-center gap-y-6 max-w-xl p-4 bg-opacity-70 ">
      
      <img class="w-72 h-auto shadow-lg" src={launch?.links.patch.small} alt={launch?.name} />

      <h2 class="text-3xl font-bold">Launch #{launch?.flight_number}</h2>

      <p class="text-lg text-center">{launch?.details}</p>

    </div>
  </article>
</Layout>

